<!-- Default Statcounter code for Jafine blog
https://jafine.github.io -->
<script type="text/javascript">
var sc_project=10917702; 
var sc_invisible=1; 
var sc_security="ce331351"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/10917702/0/ce331351/1/"
alt="Web Analytics"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->
